.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.dressSortResults {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.dressGridItem {
  margin-top: 20px;
}

.dressGridImgContainer {
  border-radius: 12px;
  overflow: hidden;
  max-height: 200px;
}

.App-link {
  color: #61dafb;
}

.instructions {
  text-align: left;
  width: 700px;
  margin: 20px auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** PUT YOUR CSS STYLES BELOW THIS LINE **/

body {
  font-family: "Mulish", sans-serif;
  background-image: url("./houndstooth-pattern.png");
  /* background-image: url('./1542.jpg'); */
}

.App-header {
  background: radial-gradient(lightgray 3px, transparent 4px),
    radial-gradient(lightgray 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #a4a4a4 75px,
      #a4a4a4 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #a4a4a4 76px,
      #a4a4a4 77px,
      transparent 78px,
      transparent 109px
    ),
    #fff;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  border-bottom: solid 2px #b6bec5;
}

.App-header {
  font-size: 50px;
  font-weight: bold;
  color: #9932cc;
}

.dressSortResults {
  font-size: 15px;
  text-align: left;
  justify-content: space-evenly;
}

.dressFilters {
  padding: 20px 0;
}

.dressGridImgContainer img {
  height: 200px;
  object-fit: cover;
  width: 150px;
}

.dressFilters form {
  display: inline;
  margin-right: 15px;
}

.dressFilters select {
  margin: 10px;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

footer {
  font-size: 8px;
  text-align: center;
}
